
@media only screen and (min-width: 375px) {

body {
    display: grid;
    padding-right: 30px;
    padding-left: 30px;
    background-color: #F7F1ED;
    font-family: Helvetica, sans-serif;
    font-size: 12pt;
    line-height: 24px;
    color: #413939;
}

/*styling for Latest News subtitle*/

h2 {

    font-size: 24px ;
    line-height: 30px;
    
}

.subtitle {

    display: flex;
    padding-top: 50px;
    padding-bottom: 0%;
    justify-content: center;
    font-size: 28pt;

}

/*header links*/

ul {

    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    

}

li a {

    padding: 8px 16px;
    border: 1px solid #413939;
    border-radius: 20px;
    color: #413939;
    width: 20px;
    height: 10px;
    font-size: 14px;
    text-decoration: none;
}

/* Change the link color on hover */

li a:hover {
    background-color: #98002E;
    color: white;
  }

.grid-item1 {

    display: grid;
    padding: 30px;
    margin: .5em;
}

/*GDES News Logo*/

.image1 {

    display: flex;
   
    justify-content: center;
    align-items: center;
    height: 100%;
 }

/*proportions for all images*/

img {
    display: flex;
    justify-content: center;
    width: 100%;
}

.line-break {
    display: flex;
    justify-content: center;
    background-color: #98002E;
    width: 100%;
    height: 2px;
    
}

.grid-item2 {

    padding-bottom: 40px;
}

.grid-item3 {
    
    padding-bottom: 40px;
}

.grid-item4 {
    
    padding-bottom: 40px;
}

.grid-item5 {

    padding-bottom: 30px;
}

.grid-item6 {

    padding-top: 30px;
    padding-bottom: 50px;
}

.background-2 {

    display: block;
   
    background-color: #F4E2D6;
   width: 100px;
   height: 100%;
}

.grid-tiem7 {


    
}
}

@media only screen and (max-width: 1320px) {
    
    body {
        display: grid;
        padding-right: 30px;
        padding-left: 30px;
        background-color: #F7F1ED;
        font-family: Helvetica, sans-serif;
        font-size: 12pt;
        line-height: 24px;
        color: #413939;
    }
    
    /*styling for Latest News subtitle*/
    
    h2 {
    
        font-size: 24px ;
        line-height: 30px;
        
    }
    
    .subtitle {
    
        display: flex;
        padding-top: 50px;
        padding-bottom: 0%;
        justify-content: center;
        font-size: 28pt;
    
    }
    
    /*header links*/
    
    ul {
    
        display: flex;
        flex-direction: row;
        list-style-type: none;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        
    
    }
    
    li a {
    
        padding: 8px 16px;
        border: 1px solid #413939;
        border-radius: 20px;
        color: #413939;
        width: 20px;
        height: 10px;
        font-size: 14px;
        text-decoration: none;
    }
    
    /* Change the link color on hover */
    
    li a:hover {
        background-color: #98002E;
        color: white;
      }
    
    .grid-item1 {
    
        display: grid;
        padding: 30px;
        margin: .5em;
    }
    
    /*GDES News Logo*/
    
    .image1 {
    
        display: flex;
       
        justify-content: center;
        align-items: center;
        height: 100%;
     }
    
    /*proportions for all images*/
    
    img {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .line-break {
        display: flex;
        justify-content: center;
        background-color: #98002E;
        width: 100%;
        height: 2px;
        
    }
    
    .grid-item2 {
    
        padding-bottom: 40px;
    }
    
    .grid-item3 {
        
        padding-bottom: 40px;
    }
    
    .grid-item4 {
        
        padding-bottom: 40px;
    }
    
    .grid-item5 {
    
        padding-bottom: 30px;
    }
    
    .grid-item6 {
    
        padding-top: 30px;
        padding-bottom: 50px;
    }
    
    .background-2 {
    
        display: block;
       
        background-color: #F4E2D6;
       width: 100px;
       height: 100%;
    }
    
    .grid-tiem7 {
    
    
        
    }
}